body{
    font-family:'Times New Roman', Times, serif ;
    font-size: 1em;
    background-color: aliceblue;
}
h1{
    color: red;
    padding-left: 3em;
}
span{
    color: blue;
}
table{
    width: 40%;
    border: 3px red solid;
}
th,td{
    border: 2px rgb(71, 71, 207) solid;
    text-align: center;
    
}
th{
    background-color: bisque;
}
.footer{
    background-color: crimson;
    font-weight: normal;
}
.numbers{
    background-color: aqua;
}
.same-color{
    background-color: rgb(201, 132, 82);
}
.not-same{
    background-color: gainsboro;
}